# npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml
.npm
.yarn
.pnpm-store
.yarn-integrity

# Next.js
.next/
out/
build/
dist/

